<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="user">
	<insert id="insertUser">
		insert into boardUser(userid, passwd, name, email,address)
		values(#{userid}, #{passwd}, #{name}, #{email}, #{address})
	</insert>
	<select id="selectUser" resultType="java.util.Map">
		select
		userid as username,
		passwd as password,
		name,email,
		enable,
		authority
		from boardUser
		where
		userid=#{userid}
	</select>

	<select id="idfind" parameterType="String" resultType="String">
		select userid from boardUser where email = #{email}
	</select>
	
	<update id="resetpwupdate">
	 	update boarduser set passwd = #{passwd} 
	 	where userid = #{userid} and email = #{email}
	</update>
	
	<select id="viewmember" resultType="String">
		select email
		from boardUser
		where userid=#{userid}
	</select>
	
	<update id="update">
		update boarduser set passwd = #{passwd}
		where userid = #{userid}
	</update>
	
	<select id="idcheck" resultType = "int">
		select count(*) from boarduser where userid = #{userid}
	</select>

	<select id="emailcheck" resultType = "int">
		select count(*) from boarduser where email = #{email}
	</select>

</mapper>








